img {
    height: 250px;
}

body {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: blanchedalmond;
    color: black;
}

a {
    font-size: larger;
}

header {
    text-align: left;
    background-color: aliceblue;
}

footer{
    border: solid 5px rgb(0, 198, 255);
}